
.blog-detail {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.blog-detail-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

article h3 {
    margin-top: 20px;
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
}

article ol {
    padding-left: 20px;
}

article ol li {
    margin-bottom: 40px;
    font-size: 1.2rem;
}

article ol li b {
    font-size: 1.5rem;
    color: var(--primary);
}


article ul {
    list-style-type: disc;
    margin-left: 40px; 
    margin-bottom: 20px;
}

article ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}


.destination-image {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    margin-left: 0;
    width: 60%;
}



main {
    padding-bottom: 40px;
}
