.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 20px;
}

.blog-card {
    display: flex;
    flex-direction: column;
    background: var(--bg-secondary);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    height: 100%; 
}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-card h4 {
    font-size: 1.5rem;
    margin: 10px;
}

.blog-card p {
    font-size: 1rem;
    margin: 0 10px 10px;
    color: #555;
    flex-grow: 1; 
}

.read-more {
    margin: 10px;
    padding: 10px 20px;
    color: var(--light);
    background: var(--primary);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s;
}

.read-more:hover {
    background: #d08414;
}

.blog-card.highlight {
    border: 2px solid #ff9900;
    box-shadow: 0 8px 15px rgba(255, 153, 0, 0.3);
}



@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.blog-card.bounce {
    animation: bounce 0.5s ease-out;
}
