:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
    --bg-light: #FFFFFF;
    --bg-secondary: #F9F9F9;
}
html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form{
    background-color:#f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: var(--dark);
    padding: 15px;
    border-radius: 1%;
    display: block;
    max-width: 500px;
    margin-bottom: 50px;
    margin-top:50px ;
    margin-left: 250px;
}
.error-message{
    color: darkred;
    font-size: 12px;
    margin-top: 10px;
    display: none;
}
/* tablet */
@media (width > 480px) and (width <=1023px) {
    form{
        margin: auto;
    }
}
/* phone */
@media (width < 480px) {
    form{
        margin: auto;
        max-width: 300px;
    }
}